# Pandas Tutorial: Data Analysis Made Simple

Pandas is a powerful Python library for data manipulation and analysis. This guide will walk you through the fundamental concepts and features of Pandas, with practical examples.

## What is Pandas?

Pandas provides high-performance, easy-to-use data structures and tools for:
- Data manipulation and cleaning
- Data analysis
- Time series functionality
- Handling structured data
- Reading/writing various file formats

Key features include:
- DataFrame and Series data structures
- Efficient data manipulation
- Built-in visualization
- Time series functionality
- Handling of missing data
- Merging and joining datasets

Let's start by setting up our environment and exploring basic Pandas functionality.

## 1. Setting Up the Environment and Basic DataFrame Creation

First, let's install and import the required libraries. We'll need:
- `pandas`: For data manipulation and analysis

Let's install these packages:

In [ ]:
%pip install pandas

In [5]:
import pandas as pd

df = pd.read_csv('walmart.csv')
print(df.head(5)[['transaction_id', 'customer_id','category']])

   transaction_id  customer_id     category
0               1         2824  Electronics
1               2         1409  Electronics
2               3         5506  Electronics
3               4         5012  Electronics
4               5         4657  Electronics

In [ ]:
print(df.shape)

## 2. Data Manipulation with Pandas

Now let's explore various ways to manipulate data in Pandas. We'll cover:
- Selecting columns
- Adding new columns
- Applying functions
- Using loc/iloc indexers

In [6]:
# Selecting specific columns
print("Selected columns:")
print(df[['product_name', 'category', 'unit_price']])

Selected columns:
         product_name     category  unit_price
0              Fridge  Electronics      188.46
1                  TV  Electronics     1912.04
2              Fridge  Electronics     1377.75
3          Smartphone  Electronics      182.31
4              Laptop  Electronics      499.28
...               ...          ...         ...
4995       Headphones   Appliances      682.15
4996           Laptop   Appliances     1418.09
4997           Fridge  Electronics      398.66
4998           Laptop   Appliances     1000.95
4999  Washing Machine   Appliances      710.03

[5000 rows x 3 columns]

In [7]:
# Adding a new column 'total_sales' as quantity_sold * unit_price
df['total_sales'] = df['quantity_sold'] * df['unit_price']
print("\nDataFrame with total_sales column:")
print(df[['quantity_sold', 'unit_price', 'total_sales']].head())

DataFrame with total_sales column:
   quantity_sold  unit_price  total_sales
0              3      188.46       565.38
1              4     1912.04      7648.16
2              4     1377.75      5511.00
3              5      182.31       911.55
4              3      499.28      1497.84

In [8]:
def income_category(income):
    if income < 50000:
        return 'Low'
    elif income < 90000:
        return 'Medium'
    else:
        return 'High'

df['income_category'] = df['customer_income'].apply(income_category)
print(df[['customer_income', 'income_category']].head())

   customer_income income_category
0         98760.83            High
1         69781.93          Medium
2         77373.10          Medium
3         33383.04             Low
4        108999.41            High

In [9]:
# Drop a specific column, for example 'promotion_type'
df = df.drop('promotion_type', axis=1)
print(df.columns)

Index(['transaction_id', 'customer_id', 'product_id', 'product_name',
       'category', 'quantity_sold', 'unit_price', 'transaction_date',
       'store_id', 'store_location', 'inventory_level', 'reorder_point',
       'reorder_quantity', 'supplier_id', 'supplier_lead_time', 'customer_age',
       'customer_gender', 'customer_income', 'customer_loyalty_level',
       'payment_method', 'promotion_applied', 'weather_conditions',
       'holiday_indicator', 'weekday', 'stockout_indicator',
       'forecasted_demand', 'actual_demand', 'total_sales', 'income_category'],
      dtype='object')

## 3. Filtering and Sorting Data

Let's explore how to filter and sort data in Pandas:
- Boolean filtering
- Multiple conditions
- Sorting by single and multiple columns

In [10]:
# Filter rows where category is 'Electronics'
filtered_df = df[df['category'] == 'Electronics']
print(filtered_df.head())

   transaction_id  customer_id  product_id product_name     category  \
0               1         2824       843.0       Fridge  Electronics
1               2         1409       135.0           TV  Electronics
2               3         5506       391.0       Fridge  Electronics
3               4         5012       710.0   Smartphone  Electronics
4               5         4657       116.0       Laptop  Electronics

   quantity_sold  unit_price transaction_date  store_id   store_location  ...  \
0              3      188.46  3/31/2024 21:46         3        Miami, FL  ...
1              4     1912.04  7/28/2024 12:45         5       Dallas, TX  ...
2              4     1377.75   6/10/2024 4:55         1  Los Angeles, CA  ...
3              5      182.31   8/15/2024 1:03         5        Miami, FL  ...
4              3      499.28   9/13/2024 0:45         6      Chicago, IL  ...

   payment_method  promotion_applied  weather_conditions  holiday_indicator  \
0     Credit Card               True              Stormy              False
1            Cash               True               Rainy              False
2            Cash              False               Sunny              False
3            Cash               True               Sunny               True
4  Digital Wallet              False               Sunny              False

    weekday  stockout_indicator forecasted_demand  actual_demand total_sales  \
0    Friday                True               172            179      565.38
1    Monday                True               109            484     7648.16
2   Tuesday                True               289            416     5511.00
3    Sunday               False               174            446      911.55
4  Thursday                True               287            469     1497.84

  income_category
0            High
1          Medium
2          Medium
3             Low
4            High

[5 rows x 29 columns]

In [11]:
# Multiple conditions in Walmart df
print("\nTransactions in Electronics category with total_sales > 5000:")
print(df[(df['category'] == 'Electronics') & (df['total_sales'] > 5000)])

Transactions in Electronics category with total_sales > 5000:
      transaction_id  customer_id  product_id product_name     category  \
1                  2         1409       135.0           TV  Electronics
2                  3         5506       391.0       Fridge  Electronics
8                  9         2424       106.0       Camera  Electronics
17                18         4257       806.0       Laptop  Electronics
23                24         1106       684.0   Headphones  Electronics
...              ...          ...         ...          ...          ...
4945            4946         8668       619.0   Headphones  Electronics
4949            4950         7046       979.0       Laptop  Electronics
4954            4955         2153       305.0           TV  Electronics
4958            4959         9511       170.0           TV  Electronics
4968            4969         3931       439.0       Tablet  Electronics

      quantity_sold  unit_price transaction_date  store_id   store_location  \
1                 4     1912.04  7/28/2024 12:45         5       Dallas, TX
2                 4     1377.75   6/10/2024 4:55         1  Los Angeles, CA
8                 4     1627.48   3/30/2024 4:10        12     New York, NY
17                5     1201.92   6/26/2024 4:41        20     New York, NY
23                5     1503.41   1/30/2024 9:19        14      Chicago, IL
...             ...         ...              ...       ...              ...
4945              5     1136.41  4/25/2024 20:33         4  Los Angeles, CA
4949              5     1923.14   4/30/2024 9:17         4     New York, NY
4954              5     1200.68   8/8/2024 20:56        18       Dallas, TX
4958              3     1838.25  3/23/2024 21:38        10  Los Angeles, CA
4968              5     1174.55   8/9/2024 15:19        19        Miami, FL

      ...  payment_method  promotion_applied  weather_conditions  \
1     ...            Cash               True               Rainy
2     ...            Cash              False               Sunny
8     ...     Credit Card              False               Sunny
17    ...      Debit Card              False               Sunny
23    ...      Debit Card              False              Stormy
...   ...             ...                ...                 ...
4945  ...     Credit Card              False               Rainy
4949  ...  Digital Wallet               True               Sunny
4954  ...  Digital Wallet               True              Cloudy
4958  ...     Credit Card              False              Cloudy
4968  ...      Debit Card               True               Sunny

      holiday_indicator    weekday  stockout_indicator forecasted_demand  \
1                 False     Monday                True               109
2                 False    Tuesday                True               289
8                  True   Saturday                True               476
17                False    Tuesday                True               348
23                 True    Tuesday                True               146
...                 ...        ...                 ...               ...
4945               True     Friday               False               319
4949              False     Friday               False               500
4954               True     Monday               False               112
4958               True     Friday               False               390
4968               True  Wednesday               False               334

      actual_demand total_sales income_category
1               484     7648.16          Medium
2               416     5511.00          Medium
8               428     6509.92          Medium
17              418     6009.60             Low
23              330     7517.05          Medium
...             ...         ...             ...
4945            308     5682.05             Low
4949            472     9615.70            High
4954            411     6003.40            High
4958            467     5514.75            High
4968            143     5872.75          Medium

[564 rows x 29 columns]

In [12]:
# Sorting by single column in Walmart df and showing only 5 rows
print("\nSorted by total_sales (descending):")
print(df.sort_values('total_sales', ascending=False)[['transaction_id', 'total_sales']].head(5))

Sorted by total_sales (descending):
      transaction_id  total_sales
1459            1460      9999.25
1276            1277      9992.70
1350            1351      9987.85
4452            4453      9982.60
1072            1073      9973.45

In [13]:
# Sorting by multiple columns and displaying selected columns (showing only 5 rows)
print("\nSorted by income_category and customer_age (top 5 rows):")
print(df.sort_values(['income_category', 'customer_age'])[['customer_id', 'income_category', 'customer_age']].head(5))

Sorted by income_category and customer_age (top 5 rows):
     customer_id income_category  customer_age
47          2139            High            18
313         4335            High            18
718         9056            High            18
806         6460            High            18
850         4681            High            18

## 4. Handling Missing Values

Missing values are common in real-world data. Let's see how to:
- Identify missing values
- Remove rows/columns with missing values
- Fill missing values
- Interpolate missing values

In [14]:

# Check for missing values
print("\nMissing value count by column:")
print(df.isnull().sum())

Missing value count by column:
transaction_id            0
customer_id               0
product_id                2
product_name              1
category                  2
quantity_sold             0
unit_price                0
transaction_date          0
store_id                  0
store_location            0
inventory_level           0
reorder_point             0
reorder_quantity          0
supplier_id               0
supplier_lead_time        0
customer_age              0
customer_gender           0
customer_income           0
customer_loyalty_level    0
payment_method            0
promotion_applied         0
weather_conditions        0
holiday_indicator         0
weekday                   0
stockout_indicator        0
forecasted_demand         0
actual_demand             0
total_sales               0
income_category           0
dtype: int64

In [15]:
import numpy as np

# Drop rows where product_id is missing
df = df.dropna(subset=['product_id'])

# Fill missing values in 'product_name' with 'Unknown'
df['product_name'] = df['product_name'].fillna('Unknown')

In [16]:
df.info()
print(df.head())

<class 'pandas.core.frame.DataFrame'>
Index: 4998 entries, 0 to 4999
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   transaction_id          4998 non-null   int64
 1   customer_id             4998 non-null   int64
 2   product_id              4998 non-null   float64
 3   product_name            4998 non-null   object
 4   category                4996 non-null   object
 5   quantity_sold           4998 non-null   int64
 6   unit_price              4998 non-null   float64
 7   transaction_date        4998 non-null   object
 8   store_id                4998 non-null   int64
 9   store_location          4998 non-null   object
 10  inventory_level         4998 non-null   int64
 11  reorder_point           4998 non-null   int64
 12  reorder_quantity        4998 non-null   int64
 13  supplier_id             4998 non-null   int64
 14  supplier_lead_time      4998 non-null   int64
 15  customer_age            4998 non-null   int64
 16  customer_gender         4998 non-null   object
 17  customer_income         4998 non-null   float64
 18  customer_loyalty_level  4998 non-null   object
 19  payment_method          4998 non-null   object
 20  promotion_applied       4998 non-null   bool
 21  weather_conditions      4998 non-null   object
 22  holiday_indicator       4998 non-null   bool
 23  weekday                 4998 non-null   object
 24  stockout_indicator      4998 non-null   bool
 25  forecasted_demand       4998 non-null   int64
 26  actual_demand           4998 non-null   int64
 27  total_sales             4998 non-null   float64
 28  income_category         4998 non-null   object
dtypes: bool(3), float64(4), int64(12), object(10)
memory usage: 1.0+ MB
   transaction_id  customer_id  product_id product_name     category  \
0               1         2824       843.0       Fridge  Electronics
1               2         1409       135.0           TV  Electronics
2               3         5506       391.0       Fridge  Electronics
3               4         5012       710.0   Smartphone  Electronics
4               5         4657       116.0       Laptop  Electronics

   quantity_sold  unit_price transaction_date  store_id   store_location  ...  \
0              3      188.46  3/31/2024 21:46         3        Miami, FL  ...
1              4     1912.04  7/28/2024 12:45         5       Dallas, TX  ...
2              4     1377.75   6/10/2024 4:55         1  Los Angeles, CA  ...
3              5      182.31   8/15/2024 1:03         5        Miami, FL  ...
4              3      499.28   9/13/2024 0:45         6      Chicago, IL  ...

   payment_method  promotion_applied  weather_conditions  holiday_indicator  \
0     Credit Card               True              Stormy              False
1            Cash               True               Rainy              False
2            Cash              False               Sunny              False
3            Cash               True               Sunny               True
4  Digital Wallet              False               Sunny              False

    weekday  stockout_indicator forecasted_demand  actual_demand total_sales  \
0    Friday                True               172            179      565.38
1    Monday                True               109            484     7648.16
2   Tuesday                True               289            416     5511.00
3    Sunday               False               174            446      911.55
4  Thursday                True               287            469     1497.84

  income_category
0            High
1          Medium
2          Medium
3             Low
4            High

[5 rows x 29 columns]

In [ ]:

# Forward fill
print("\nAfter forward fill:")
print(df_missing.ffill())

# Interpolate numerical values
print("\nAfter interpolation:")
print(df_missing.interpolate(method='linear'))

## 5. Data Aggregation and Grouping

Let's explore how to:
- Group data by one or multiple columns
- Apply aggregate functions
- Create pivot tables
- Use advanced grouping operations

In [17]:
# Aggregate total_sales and quantity_sold by category
agg_result = df.groupby('category').agg({
    'quantity_sold': ['sum', 'mean']
})
print(agg_result)

            quantity_sold
                      sum      mean
category
Appliances           7167  2.968931
Electronics          7734  2.995352

## 6. Merging and Joining DataFrames

Let's explore different ways to combine DataFrames:
- Inner join
- Outer join
- Left and right joins
- Concatenation

In [ ]:
# Create two DataFrames to merge
df1 = pd.DataFrame({
    'employee_id': [1, 2, 3, 4, 5],
    'name': ['John', 'Emma', 'Alex', 'Sarah', 'Michael'],
    'department': ['IT', 'IT', 'HR', 'HR', 'Finance']
})

df2 = pd.DataFrame({
    'employee_id': [2, 4, 5, 6, 7],
    'project': ['Alpha', 'Beta', 'Gamma', 'Delta', 'Epsilon'],
    'role': ['Developer', 'Manager', 'Analyst', 'Developer', 'Manager']
})

# Inner join
print("Inner join:")
print(pd.merge(df1, df2, on='employee_id', how='inner'))

# Outer join
print("\nOuter join:")
print(pd.merge(df1, df2, on='employee_id', how='outer'))

# Left join
print("\nLeft join:")
print(pd.merge(df1, df2, on='employee_id', how='left'))

# Right join
print("\nRight join:")
print(pd.merge(df1, df2, on='employee_id', how='right'))

## Conclusion

In this tutorial, we've covered the essential features of Pandas:

1. Creating and inspecting DataFrames
2. Data manipulation and transformation
3. Filtering and sorting
4. Handling missing values
5. Data aggregation and grouping
6. Merging and joining DataFrames
7. Time series analysis

Additional Pandas features to explore:
- Text data operations
- Multi-index / hierarchical indexing
- Advanced visualization
- Data IO operations (read/write to different formats)
- Memory optimization
- Performance tuning

For more information, visit the [Pandas documentation](https://pandas.pydata.org/docs/).